@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamPro.ttf");
}
.count {

  background: #282828;
  padding-top:12rem;

}
.count_block {
  position: relative;
  text-align: right;
  background-image: url("../image/4500.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  .count_people  {
    padding-top:7rem;
    color: white;
    font-size:4.8rem;
    font-weight:900;
    font-family: 'GothamPro', sans-serif !important;
    text-shadow:0 6px 57.8px rgba(0, 0, 0, 0.3), 0 5px 19.3px rgba(0, 0, 0, 0.15);
  }
  .count_complate {
    padding-top:13.2rem;
    padding-bottom:11.7rem;
    color: white;
    font-size:8.6rem;
    font-weight:900;
    font-family: 'GothamPro', sans-serif !important;
    text-shadow:0 6px 57.8px rgba(0, 0, 0, 0.3), 0 5px 19.3px rgba(0, 0, 0, 0.15);
  }
  img {
    position: absolute;
    top:-7rem;
    left:0;
    margin:auto;
  }
}
