.video {
  padding-top:10rem;
  padding-bottom:12rem;
  background-image: url("../image/video_bg.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.video_block {
  margin:6rem auto 0;
  height:34rem;
  width:77rem;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.06);
}