@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro.ttf");
}

html {
  font-size: 62.5%;
  margin:0;
  padding:0;
}

body {
  font-family: "PFDinTextCondPro";
  overflow-x: hidden;
  font-weight:400;
  background-color: @main_bg_color;
}