@black: #263238;
@black_title: #3e2723;
@black_form: rgba(0, 0, 0, 0.3);
@white: #fff;
@pink: #dd6d99;
@lightGray: #37474f;
@lightGrayOp: rgba(55, 71, 79, 0.6);
@Price_pink: #880e4f;
@orange: #f7aa46;