@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro.ttf");
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "PFDinTextCondPro";
  overflow-x: hidden;
  font-weight: 400;
  background-color: #f3f3f3;
}
.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  height: 50px;
  background: white;
  color: white;
}
.HeaderNav {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.HeaderNav li {
  display: inline-block;
  top: 50%;
  position: relative;
  transform: translateY(50%);
}
.HeaderNav li a {
  font-size: 19px;
  padding: 10px 10px;
  color: black;
  outline: none;
  transition: border-bottom 0.3s;
  border-bottom: 3px solid transparent;
}
.HeaderNav li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #00aeef;
}
.HeaderNav li a:focus,
.HeaderNav li a:active,
.HeaderNav li a:link {
  text-decoration: none;
}
.MainScroll {
  height: 100vh;
  position: relative;
  z-index: 10;
  background-image: url("../images/MainScroll-bg4.png"), url("../images/MainScroll-bg1.png");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 100% 100%;
}
.MainTitle {
  margin-top: 80px;
  margin-bottom: 20px;
}
.MainTitle .TitleName {
  text-shadow: 0 3px 9.5px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 45px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.MainTitle .TitleDelivery {
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
  text-shadow: 0 3px 9.5px rgba(0, 0, 0, 0.35);
  color: white;
  margin-bottom: 0;
}
.MainTitle .TitleRecoupment {
  font-size: 27px;
  font-weight: 400;
  line-height: 27px;
  text-shadow: 0 3px 9.5px rgba(0, 0, 0, 0.35);
  color: white;
  margin-bottom: 0;
}
.MainTitle .TitleBorder {
  background: white;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.MainAdvantages {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
}
.MainAdvantages .AdvantagesTitle {
  text-align: left;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.MainAdvantages .AdvantagesDesc {
  text-align: left;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  vertical-align: top;
}
.MainAdvantages .AdvantagesDesc img {
  margin-left: -40px;
}
.MainForm {
  width: 392px;
  height: 251px;
  padding: 15px 0 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 7px;
}
.MainForm .MainForm_title {
  color: #6f2b07;
  font-size: 21px;
  font-weight: 500;
}
.MainForm .MainInput {
  display: block;
  margin: auto;
  width: 280px;
  height: 45px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  margin-bottom: 15px;
  padding-left: 20px;
  color: #a0a0a0;
  font-size: 19px;
  font-weight: 300;
}
.MainForm .MainButton {
  width: 205px;
  height: 37px;
  background-color: #00aeef;
  border-radius: 18px;
  border: 0;
  border-bottom: 3px solid #0080b1;
  font-size: 19px;
  font-weight: 400;
  color: white;
}
.MainLeft .Delivery {
  margin-top: 80px;
}
.MainLeft .Delivery .Delivery_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 70px;
  height: 70px;
  background-color: #eae9f1;
  background-image: linear-gradient(to top, #c2bdd0 0%, #f1f0f6 100%);
  border-radius: 50%;
}
.MainLeft .Delivery .Delivery_container.Delivery_cust {
  margin-right: 25px;
}
.MainLeft .Delivery .DeliveryImg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainLeft .Delivery .DeliveryText {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.MainCoffe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.MainCoffe img {
  background-image: url("../images/Catalog_price2.png");
  background-repeat: no-repeat;
  background-position: 37rem 20px;
  background-size: 130px 100px;
  padding-top: 55px;
  margin-top: -50px;
}
.MobileImg .MobileCoffe {
  width: 100%;
  position: relative;
  z-index: 2;
  height: auto;
  background-image: url(../images/Catalog_price2.png);
  background-repeat: no-repeat;
  background-position: 51rem 0;
  background-size: auto;
  padding-top: 50px;
  margin-top: -50px;
}
.MobileImg .MobileTable {
  height: 100%;
  width: auto;
  margin-top: -200px;
  position: relative;
  z-index: 1;
  margin-left: -15px;
}
@media screen and (max-height: 699px) {
  .MainTitle {
    margin-bottom: 10px;
  }
  .MainTitle .TitleName {
    font-size: 40px;
  }
  .MainTitle .TitleDelivery {
    font-size: 22px;
  }
  .MainTitle .TitleRecoupment {
    font-size: 22px;
  }
  .MainAdvantages {
    margin-bottom: 15px;
  }
  .MainAdvantages .AdvantagesTitle {
    font-size: 21px;
  }
  .MainAdvantages .AdvantagesDesc {
    font-size: 21px;
  }
  .MainAdvantages .AdvantagesDesc img {
    margin-left: -25px;
    height: 21px;
    width: auto;
  }
  .MainForm {
    height: 225px;
  }
  .MainForm .MainForm_title {
    font-size: 18px;
  }
  .MainForm .MainInput {
    height: 35px;
  }
  .MainLeft .Delivery {
    margin-top: 80px;
  }
  .MainLeft .Delivery .Delivery_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    background-color: #eae9f1;
    background-image: linear-gradient(to top, #c2bdd0 0%, #f1f0f6 100%);
    border-radius: 50%;
  }
  .MainLeft .Delivery .Delivery_container.Delivery_cust {
    margin-right: 25px;
  }
  .MainLeft .Delivery .DeliveryImg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .MainLeft .Delivery .DeliveryText {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }
  .MainCoffe {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .MainCoffe img {
    background-image: url("../images/Catalog_price2.png");
    background-repeat: no-repeat;
    background-position: 31rem 27px;
    background-size: 110px 80px;
    padding-top: 55px;
    margin-top: -50px;
    height: 450px;
    width: auto;
  }
}
@media screen and (min-height: 700px) and (max-height: 820px) {
  .MainCoffe {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-height: 821px) and (max-height: 950px) {
  .MainCoffe {
    position: absolute;
    bottom: -70px;
  }
  .MainTitle {
    margin-bottom: 40px;
  }
  .MainAdvantages {
    margin-bottom: 50px;
  }
}
@media screen and (min-height: 951px) and (max-height: 1150px) {
  .MainCoffe {
    position: absolute;
    bottom: -80px;
  }
  .MainTitle {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .MainTitle .TitleName {
    margin-bottom: 10px;
  }
  .MainTitle .TitleDelivery {
    margin-bottom: 10px;
  }
  .MainTitle .TitleRecoupment {
    margin-bottom: 10px;
  }
  .MainTitle .TitleBorder {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .MainAdvantages {
    margin-bottom: 60px;
  }
  .MainAdvantages .AdvantagesTitle {
    margin-bottom: 10px;
  }
  .MainLeft .Delivery {
    margin-top: 120px;
  }
}
@media screen and (min-height: 1151px) and (max-height: 1440px) {
  .MainCoffe {
    position: absolute;
    bottom: -250px;
  }
  .MainTitle {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .MainTitle .TitleName {
    margin-bottom: 10px;
  }
  .MainTitle .TitleDelivery {
    margin-bottom: 10px;
  }
  .MainTitle .TitleRecoupment {
    margin-bottom: 10px;
  }
  .MainTitle .TitleBorder {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .MainAdvantages {
    margin-bottom: 60px;
  }
  .MainAdvantages .AdvantagesTitle {
    margin-bottom: 10px;
  }
  .MainLeft .Delivery {
    margin-top: 120px;
  }
}
@media screen and (min-height: 1441px) {
  .MainCoffe {
    position: absolute;
    bottom: -700px;
  }
}
@media screen and (max-width: 1024px) {
  .MainScroll {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .MainCoffe {
    display: none;
  }
  .MainTitle {
    margin-top: 20px;
  }
  .MainScroll {
    height: auto !important;
    position: relative;
    z-index: 10;
    background-image: url("../images/MainScroll-bg1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .MainForm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .MainAdvantages {
    width: 250px;
  }
  .MainLeft .Delivery {
    margin-top: 80px;
  }
  .MainLeft .Delivery .Delivery_container {
    left: 0;
    transform: translateX(0);
  }
  .MainLeft .Delivery .Delivery_container.Delivery_cust {
    margin-right: 15px;
  }
  .MainLeft .Delivery .DeliveryText {
    left: 0;
    transform: translateX(0);
    font-size: 19px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .MobileImg .MobileTable {
    margin-left: -25%;
  }
  .MainCoffe {
    display: none;
  }
  .MainTitle {
    margin-top: 20px;
  }
  .MainScroll {
    height: auto !important;
    position: relative;
    z-index: 10;
    background-image: url("../images/MainScroll-bg1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .MainForm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .MainLeft .Delivery {
    margin-top: 80px;
  }
  .MainLeft .Delivery .Delivery_container.Delivery_cust {
    margin-right: 15px;
  }
  .MainLeft .Delivery .DeliveryText {
    font-size: 19px;
  }
}
@media screen and (max-width: 375px) {
  .MobileImg .MobileCoffe {
    width: 290px;
    position: relative;
    z-index: 2;
    height: auto;
    background-image: url(../images/Catalog_price2.png);
    background-repeat: no-repeat;
    background-position: 21.5rem 34px;
    background-size: 75px 50px;
    padding-top: 50px;
    margin-top: -50px;
  }
  .MobileImg .MobileTable {
    height: 100%;
    width: auto;
    margin-top: -200px;
    position: relative;
    z-index: 1;
    margin-left: -15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .Delivery {
    margin-top: 80px;
  }
  .Delivery .Delivery_container {
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: block !important;
    margin-right: 15px;
  }
  .Delivery .Delivery_container.Delivery_cust {
    margin-right: 0 !important;
  }
  .Delivery .DeliveryText {
    text-align: center !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: block !important;
  }
}
@media screen and (min-width: 376px) and (max-width: 991px) {
  .MobileImg .MobileCoffe {
    width: 350px;
    position: relative;
    z-index: 2;
    height: auto;
    background-image: url(../images/Catalog_price2.png);
    background-repeat: no-repeat;
    background-position: 25.5rem 50px;
    background-size: 100px 70px;
    padding-top: 80px;
    margin-top: -50px;
  }
  .MobileImg .MobileTable {
    height: 100%;
    width: auto;
    margin-top: -200px;
    position: relative;
    z-index: 1;
    margin-left: -15px;
  }
}
.Catalog {
  padding-bottom: 57px;
}
.Catalog [class^=col] {
  padding: 0 !important;
}
.CatalogTitle .Title_first {
  color: black;
  font-size: 40px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 48px auto 51px;
}
.CatalogTitle .Title_second {
  color: #707070;
  font-size: 40px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.ProductTitle .Title_for {
  color: #585858;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.ProductTitle .Title_name {
  color: #585858;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.ProductImg img {
  height: 510px;
  width: auto;
}
.ProductImg.Img_left {
  background-image: url("../images/Catalog_price1.png");
  background-repeat: no-repeat;
  background-position: 38rem 0;
  padding-top: 55px;
  margin-top: -50px;
}
.ProductImg.Img_right {
  background-image: url("../images/Catalog_price2.png");
  background-repeat: no-repeat;
  background-position: 42.5rem 0;
  padding-top: 55px;
  margin-top: -50px;
}
.ProductBtn {
  margin-top: 20px;
}
.ProductBtn a {
  color: white;
  outline: none;
  padding: 14px 35px 8px 34px;
  width: 231px;
  font-size: 21px;
  border-radius: 28px;
  background-color: #00aeef;
  border-bottom: 3px solid #0080b1;
}
.ProductBtn a:hover,
.ProductBtn a:focus,
.ProductBtn a:active {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) {
  .CatalogTitle .Title_first {
    color: black;
    font-size: 34px;
    margin: 48px auto 20px;
  }
  .CatalogTitle .Title_second {
    color: #707070;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .ProductImg img {
    height: auto;
    width: 320px;
  }
  .ProductImg.Img_left {
    background-image: none;
  }
  .ProductImg.Img_left img {
    background-image: url(../images/Catalog_price1.png);
    background-repeat: no-repeat;
    background-position: 21rem 23px;
    background-size: 100px 65px;
    padding-top: 50px;
    margin-top: -50px;
  }
  .ProductImg.Img_right {
    background-image: none;
  }
  .ProductImg.Img_right img {
    background-image: url(../images/Catalog_price2.png);
    background-repeat: no-repeat;
    background-position: 22rem 15px;
    background-size: 100px 65px;
    padding-top: 50px;
    margin-top: -50px;
  }
  .ProductBtn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .ProductImg.Img_left {
    background-image: url(../images/Catalog_price1.png);
    background-repeat: no-repeat;
    background-position: 47rem 23px;
    background-size: auto;
    padding-top: 50px;
    margin-top: -50px;
  }
  .ProductImg.Img_right {
    background-image: url(../images/Catalog_price2.png);
    background-repeat: no-repeat;
    background-position: 51rem 0;
    background-size: auto;
    padding-top: 50px;
    margin-top: -50px;
  }
  .ProductBtn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .ProductImg img {
    height: 510px;
    width: auto;
  }
  .ProductImg.Img_left {
    background-image: url("../images/Catalog_price1.png");
    background-repeat: no-repeat;
    background-position: 32rem 2rem;
    padding-top: 90px;
    margin-top: -50px;
  }
  .ProductImg.Img_right {
    background-image: url(../images/Catalog_price2.png);
    background-repeat: no-repeat;
    background-position: 32rem 1rem;
    padding-top: 90px;
    margin-top: -50px;
  }
}
.Form {
  background-image: url("../images/formbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 28px 0 26px;
}
.Form-group .form__input {
  display: inline-block;
  width: 300px;
  border: 0.5px solid white;
  border-radius: 30px;
  background: transparent;
  padding: 13px 0 9px 26px;
  outline: none;
  margin: auto 17px 18px;
  color: #bfbfbf;
  font-size: 19px;
  font-weight: 300;
}
.button {
  outline: none;
  color: white;
  padding: 12px 48px 7px 47px;
  width: 231px;
  font-size: 19px;
  border-radius: 28px;
  background-color: #00aeef;
  border: 0;
  border-bottom: 3px solid #0080b1;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
::-moz-placeholder {
  color: #bfbfbf;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #bfbfbf;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #bfbfbf;
}
@media screen and (max-width: 360px) {
  .Form-group .form__input {
    width: 250px;
  }
}
.Reviews {
  padding: 47px 0 128px 0;
}
.ReviewsTitle .Title_first {
  color: #5f2c07;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.ReviewsTitle .Title_second {
  color: #e3742a;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 31px auto 43px;
}
.Review {
  margin-bottom: 43px;
}
.Review .ReviewImg {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}
.Review .ReviewText {
  height: 127px;
  display: inline-block;
  width: 70%;
  background: white;
  padding-left: 11px;
  padding-right: 11px;
  text-align: left !important;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.Review .ReviewText:after,
.Review .ReviewText:before {
  content: '';
  border: solid transparent;
  position: absolute;
  top: 25px;
  margin-left: -12px;
  left: -15px;
  width: 0;
}
.Review .ReviewText:before {
  border-right-color: rgba(0, 0, 0, 0.2);
  border-width: 16px;
  left: -20px !important;
}
.Review .ReviewText:after {
  border-right-color: white;
  border-width: 16px;
  margin-left: -16px;
}
.Review .ReviewText p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 19px;
  color: #3e3e3e;
  margin-bottom: 0;
}
.Review .ReviewText p span {
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .ReviewsTitle .Title_first {
    color: #5f2c07;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .ReviewsTitle .Title_second {
    color: #e3742a;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 31px auto 43px;
  }
  .Review {
    margin-bottom: 43px;
  }
  .Review .ReviewImg {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
  .Review .ReviewText {
    height: 177px;
    display: block;
    width: 100%;
    padding-left: 11px;
    padding-right: 11px;
  }
  .Review .ReviewText:after,
  .Review .ReviewText:before {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    top: -30px;
    width: 0;
  }
  .Review .ReviewText:before {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-width: 16px;
    left: 50% !important;
    top: -31px;
    margin-left: 0 !important;
  }
  .Review .ReviewText:after {
    border-bottom-color: white;
    border-width: 16px;
    margin-left: 0 !important;
    left: 50%;
  }
  .Review .ReviewText p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #3e3e3e;
    margin-bottom: 0;
  }
  .Review .ReviewText p span {
    font-weight: 700;
  }
}
.Footer {
  background-image: url("../images/formbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 28px 0 26px;
}
.Footer .confedial {
  vertical-align: middle;
  color: white;
  font-size: 14px;
}
.Footer .confedial:hover,
.Footer .confedial:focus,
.Footer .confedial:active {
  text-decoration: none;
}
.Footer .FooterPhone {
  text-align: right;
  vertical-align: middle;
}
.Footer .FooterPhone .phone {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.Footer .FooterPhone .phone:hover,
.Footer .FooterPhone .phone:focus,
.Footer .FooterPhone .phone:active {
  text-decoration: none;
}
.ModalForm {
  text-align: center;
  position: relative;
  width: 306px;
  padding: 26px 25px 41px 10px;
  display: inline-block;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.ModalForm:after {
  content: url("../images/Modal_border.png");
  position: absolute;
  top: 53px;
  right: 0;
}
.ModalForm .ModalInput {
  width: 270px;
  display: block;
  background-color: white;
  border: 1px solid #c3c3c3;
  border-radius: 20px;
  padding: 12px 0 10px 26px;
  margin-bottom: 30px;
  outline: none;
}
.ModalForm .ModalTitle_name {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #5d4e4e;
  margin-bottom: 4px;
}
.ModalForm .ModalTitle_guarantee {
  color: #585858;
  font-size: 19px;
  margin-bottom: 16px;
}
.ModalForm .ModalButton {
  outline: none;
  color: white;
  text-transform: uppercase;
  width: 205px;
  height: 37px;
  background-color: #00aeef;
  font-size: 19px;
  border-radius: 28px;
  border: 0;
  border-bottom: 3px solid #0080b1;
  padding: 5px 0;
}
.ModalForm ::-webkit-input-placeholder {
  color: #989898;
}
.ModalForm ::-moz-placeholder {
  color: #989898;
}
.ModalForm :-moz-placeholder {
  color: #989898;
}
.ModalForm :-ms-input-placeholder {
  color: #989898;
}
.Carousel_block {
  display: inline-block;
  width: 440px;
  padding: 0 7.5px;
  position: relative;
  bottom: -25px;
}
.Carousel_block .slider-nav .item {
  width: 70px !important;
  height: 70px;
  margin-right: 0;
  overflow: hidden;
  display: inline-block !important;
}
.slider-nav .slick-track {
  width: 425px !important;
}
.slider-for .slick-list {
  height: 243px !important;
}
.slider-for_item .SliderItem_text {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
  margin-top: 50px;
}
.slider-for_item .SliderItem_text .SlideTitle {
  font-size: 19px;
  font-weight: 700;
  color: #585858;
}
.slider-for_item .SliderItem_text .SlideDesc {
  font-size: 16px;
  font-weight: 500;
  color: #585858;
}
.slider-for_item .SliderItem_img {
  display: inline-block;
  width: 210px;
}
.slider-for_item.slick-active {
  width: 425px !important;
}
@media screen and (max-width: 768px) {
  .ModalForm {
    text-align: center;
    position: relative;
    margin: auto;
    width: 306px;
    padding: 8px 25px 41px 10px;
    display: block;
  }
  .ModalForm:after {
    content: none;
  }
  .ModalForm .ModalInput {
    margin-bottom: 10px;
  }
  .ModalForm .ModalTitle_guarantee {
    margin-bottom: 10px;
  }
  .Carousel_block {
    display: block ;
    padding: 0 7.5px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .Carousel_block .slider-nav .item {
    width: 70px !important;
    height: 70px;
    margin-right: 0;
    overflow: hidden;
    display: inline-block !important;
    position: relative;
    left: 25%;
    transform: translateX(-25%);
  }
  .Carousel_block .slider-nav .item.item_slide_1 {
    left: 4% !important;
  }
  .slider-nav .slick-track {
    width: 425px !important;
  }
  .slider-for .slick-list {
    height: 243px !important;
  }
  .slider-for_item .SliderItem_text {
    display: inline-block;
    width: 200px;
  }
  .slider-for_item .SliderItem_img {
    display: inline-block;
    width: 210px;
  }
  .slider-for_item.slick-active {
    width: 425px !important;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 785px;
    margin: 30px auto;
  }
}
